body {
  background-color: #EEEEEE !important;
  padding-top: 85px; /* Height of navbar */
}

#title{
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #5FAFE4;
}

#title h1, h2, h2, h4 {
  color: #FFFFFF;
}

.navbar{
  background-color: #414141 !important;
}

.navbar-brand {
    color: #CCC !important;
}

.navbar li a {
  color: #EDEDED !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #333 !important;
}

.panel-heading{
  color: #727272 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.range {
  color: #737373;
  text-transform: uppercase;
}

#freq {
  height:150px; 
  margin-bottom: -15px; 
  margin-top: -15px;
}


/*  ################################################################
  MAPS
################################################################# */

#mapid { height: 425px; }

.time {
  color: #b3b3b3;
  font-weight: bold;
}
.mag {
  color: #0067A3;
  font-weight: bold;
}
.location {
  color: #333333;
  font-weight: bold;
  display: block;
}