<div class="container">
    <div class="row">
    	<div class="col-lg-12">
			<h2>Top 25 Largest Earthquakes</h2>
			<h4>The strongest magnitude earthquakes since 1900</h4>
		</div>
	</div>
</div>

<div ng-controller="Top25 as top25">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="mapTop25"></div>
        <script src="bower_components/leaflet/leaflet.js"></script>
        <script src="bower_components/leaflet/leaflet.awesome-markers.js"></script>
        <script src="bower_components/moment/moment.js"></script> 
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="quake in top25.quakes track by $index">
              <td class="text-center vert-align">
                <span class="label label-default number">{{ $index + 1 }}</span>
              </td>
              <td>
                <span class="mag">{{ quake[1] }} magnitude</span>
                <span class="time">{{ quake[0] }}</span>
                <span class="location">{{ quake[2] }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>