<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>About Us</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<div id="subheaderwrap">
	<div class="container">
	    <div class="row">
	    	<div class="col-lg-12">
				<h2>Top 25 Largest Earthquakes</h2>
				<h4>The strongest magnitude earthquakes since 1900</h4>
			</div>
		</div>
	</div>
</div>