
    <div class="container">
        <div class="row flex-row">
            <!-- Biggest Earthquakes --> 
            <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">Biggest Earthquakes</div>
                <div class="panel-body">
                  <div ng-controller="LargestQuakes">
                    <div ng-init="param='today';">
                      <div ng-app="today" ng-controller="LargestQuakes" ng-model="quake.largest">
                        <span class="range">Today:</span> 
                        <span class="mag">M {{ largest[0] }}</span> {{ largest[1] }}
                      </div> 
                    </div>
                    <div ng-init="param='week';">
                      <div ng-app="week" ng-controller="LargestQuakes">
                        <span class="range">Week:</span>
                        <span class="mag">M {{ largest[0] }}</span> {{ largest[1] }}
                      </div> 
                    </div>
                    <div ng-init="param='month';">
                      <div ng-app="week" ng-controller="LargestQuakes">
                        <span class="range">Month:</span>
                        <span class="mag">M {{ largest[0] }}</span> {{ largest[1] }}
                      </div> 
                    </div>
                    <div ng-init="param='year';">
                      <div ng-app="week" ng-controller="LargestQuakes">
                        <span class="range">Year:</span>
                        <span class="mag">M {{ largest[0] }}</span> {{ largest[1] }}
                      </div> 
                    </div>
                    <div ng-init="param='decade';">
                      <div ng-app="week" ng-controller="LargestQuakes">
                        <span class="range">Decade:</span>
                        <span class="mag">M {{ largest[0] }}</span> {{ largest[1] }}
                      </div> 
                    </div>
                    <div ng-init="param='century';">
                      <div ng-app="week" ng-controller="LargestQuakes">
                        <span class="range">Century:</span>
                        <span class="mag">M {{ largest[0] }}</span> {{ largest[1] }}
                      </div> 
                    </div>
                  </div>
                </div>
              </div>              
            </div>

            <!-- Tsunami warnings -->
            <div class="col-lg-4">  
              <div class="panel panel-default">
                <div class="panel-heading">Tsunami Alerts</div>
                <div class="panel-body">
                  <div ng-controller="Tsunami as alert">
                    <div ng-repeat="tsunami in alert.tsunamis track by $index" ng-show="$index < 3">
                      <span ng-if="tsunami[0] == 'green'">
                        <span class="label label-success">{{ tsunami[0] }}</span>
                      </span>
                      <span ng-if="tsunami[0] == 'orange'">
                        <span class="label label-warning">{{ tsunami[0] }}</span>
                      </span>
                      <span ng-if="tsunami[0] == 'red'">
                        <span class="label label-danger">{{ tsunami[0] }}</span>
                      </span>
                      <span class="time">{{ tsunami[1] }}</span>
                      <span class="mag">M {{ tsunami[2] }}</span>
                      <span class="location">{{ tsunami[3] }}</span>
                    </div>
                  </div>
                </div>
              </div> 
            </div>

            <!-- Earthquake frequency -->
            <div class="col-lg-4">  
              <div class="panel panel-default">
                <div class="panel-heading">Earthquake Frequency</div>
                <div class="panel-body">
                  <div ng-controller="Frequency as vm">
                    <div id="freq"></div>
                  </div>
                </div>
              </div>  
            </div>

        </div>
    </div>


<!-- Earthquake Map -->
<div ng-controller="MapDay as map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Today's Largest Earthquakes <small>Earthquake's over 4.5 magnitude in the last 24 hours</small></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div id="mapid"></div>
        <script src="bower_components/leaflet/leaflet.js"></script>
        <script src="bower_components/leaflet/leaflet.awesome-markers.js"></script>
        <script src="bower_components/moment/moment.js"></script>           
      </div>
      <div class="col-lg-4"> 
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="quake in map.quakes track by $index">
              <td>
                <span class="time">{{ quake[0] }}</span>
                <span class="mag">{{ quake[1] }} magnitude</span>
                <span class="location">{{ quake[2] }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>